#set($imgURL = $info.getConfigParameter("resourceRootURL")+"cittametro-homepage-bundle/static/img")
<article class="scheda scheda-round scheda-news">
	#if ($content.foto.getImagePath("0") != "")
		<div class="scheda-foto img-fit-cover">
			<figure>
				<img src="$content.foto.getImagePath("4")" alt="$content.foto.text" class="img-fluid objpos-$content.pos_foto.mapKey" />
			</figure>
		</div>
	#end
	<div class="scheda-icona-small #if ($content.foto.getImagePath("0") != "") mr114 #end">
		<svg class="icon">
		#if ($content.tipologia.mapKey != "nov01")
			<use xlink:href="$imgURL/ponmetroca.svg#ca-today"></use>
		#elseif ($content.tipologia.mapKey != "nov02")
			<use xlink:href="$imgURL/ponmetroca.svg#ca-description"></use>
		#end
		</svg>
		$content.data.getFormattedDate("dd MMM yyyy")
	</div>
	<div class="scheda-testo #if($content.foto.getImagePath("0") == "")mr-0#end">
		<h4><a href="$content.getContentLink()" title="$i18n.getLabel("CITTAMETRO_PORTAL_GOTONEWS"): $content.titolo.text">	$content.titolo.text</a></h4>
		<p>$content.descr.text</p>
	</div>
	<div class="scheda-argomenti">
			#set ($argomenti = $content.argomenti.values)
			#foreach ($Category in $content.getCategories())
				#if($argomenti.contains($Category.code))
					<a href="$content.getPageURL($info.getConfigParameter("pagina_argomento"))?categoryCode=$Category.code" title="$i18n.getLabel("CITTAMETRO_PORTAL_GOTOARGUMENT"): $Category.title" class="badge badge-pill badge-argomenti">$Category.title</a>
				#end
			#end
	</div>
</article>
